.weatherForcast {
  border: 2px solid;
  text-align: center;
  width: 80%;
  padding: 5px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.forecastContainer {
  display: flex;
}

.forecast {
  width: 60%;
  font-size: 30px;
}

.forecastTemp {
  font-size: 50px;
  display: flex;
}

.forecastTemp p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
}
